{% load rest_framework %}

<html lang="en">
<head>
    <title>Show all users</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
   <h1>Choose:</h1>
   <a class="btn btn-primary" href="login" role="button">Login</a>
   <a class="btn btn-primary" href="register" role="button">ًRegister</a>
   <a class="btn btn-primary" href="show" role="button">All Users</a>
   <a class="btn btn-primary" href="api/corps/database" role="button">All Companies</a>
</body>
</html>