{% load rest_framework %}

<html lang="en">
<head>
    <title>Show all users</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
  
    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Email</th>
          </tr>
        </thead>
        
        <tbody>
          {% for account in users %}
          <tr>
            <td>{{account.first_name}}</td>
            <td>{{account.last_name}}</td>
            <td>{{account.email}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</body>
</html>